.heading-font{
    font-size: 26px;
    color:#BFF0D4;
}
.navbar{
    justify-content: space-between;
}
#spaceDe{
    width: 250px;
    display: flex;
    justify-content: space-between;
}
/* span{
    padding-right:20px;
} */
mat-sidenav-container{
    height:100%;
}
mat-sidenav,mat-sidenav-content{
    padding:16px;
}
mat-sidenav{
    width: 200px;
    background-color: #BEDCFE;
}
